@font-face {
    font-family: crimson-bold;
    src: url(fonts/CrimsonText-Bold.ttf),
         format('truetype');
}

@font-face {
    font-family: crimson-italic;
    src: url(fonts/CrimsonText-BoldItalic.ttf),
         format('truetype');
}

@font-face {
    font-family: crimson-reguler;
    src: url(fonts/CrimsonText-Regular.ttf),
         format('truetype');
}

@font-face {
    font-family: crimson-semi-bold;
    src: url(fonts/CrimsonText-SemiBold.ttf)
         format('truetype');
}

@font-face {
    font-family: crimson-bold-italic;
    src: url(fonts/CrimsonText-SemiBoldItalic.ttf),
         format('truetype');
}

@font-face {
    font-family: barlow-reguler;
    src: url(fonts/BarlowCondensed-Regular.ttf),
         format('truetype');
}